body{
    display: flex;
    justify-content: center;
    margin: 0;
}

#wrapper{
    margin-top: 100px;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-areas: 
    ". start . ."
    "pf pf pf win"
    "pf pf pf win"
    "pf pf pf win"
    ". st . ."
    ;
}

.playField{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 10px;
    width: 260px;
    height: 260px;
    border: solid 2px;
    border-radius: 8px;
    padding: 20px;
    background-color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
    grid-area: pf;
}

#box{
    border: solid 2px black;
    border-radius: 10px;
    background-color: lightblue;
    box-shadow: 0px 5px 0px rgb(61, 61, 61);
    color: white;
    text-align: center;
    font-size: 65px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#box:hover{
    cursor: pointer;
    border-color: lightgray;
}

#box:active{
    margin-top: 5px;
    margin-bottom: -5px;
    box-shadow: none;
}

.start{
    padding: 10px;
    border: solid 2px;
    border-radius: 20px;
    text-align: center;
    background-color: blue;
    font-size: 50px;
    margin: auto;
    width: fit-content;
    height: fit-content;
    grid-area: start;
}

.start:hover{
    cursor: pointer;
    background-color: darkblue;
}

#showTurn{
    background-color: orange;
    border: solid 10px black;
    border-radius: 20px;
    text-align: center;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    width: 116px;
    height: 116px;
    margin: auto;
    grid-area: st;
    display: flex;
    justify-content: center;
    align-items: center;
}



.horizontalLine{
    margin: 0;
    background-color: black;
    height: 3px;
    border: 0;
}

.XandO{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
}

.verticalLine{
    margin: 0;
    border: 0;
    width: 3px;
    background-color: black;
    margin-left: 5px;
    margin-right: 5px;
}